<h1>Type in the URL to shorten</h1>
<%= form_with scope: :url, url: urls_path, local: true do |form| %>

  <p>
    <%= form.label :original_url %><br>
    <%= form.text_field :original_url %><br>
  </p>


  <p>
    <%= form.submit %><br>
  </p>

<% end %>

