<p>
  <strong>url original:</strong>
  <%= @url.original_url %>
</p>


<p>
  <strong>hash do url:</strong>
  <%= @url.short_url %>
</p>

<p>
  <strong>hits deste url:</strong>
  <%= @url.hits %>
</p>
<h1>Most used hashfied urls</h1>
 
